<div class="grid grid_padding_m">
    <div class="grid__cell grid__cell_size_2">
        <input type="text" placeholder="Код" class="input addproject__input js_addproject_id">
    </div>
    <div class="grid__cell grid__cell_size_5">
        <input type="text" placeholder="Название" class="input addproject__input js_addproject_title">
    </div>
    <div class="grid__cell grid__cell_size_1">
        <div class="button addproject__submit js_addproject_submit">Добавить</div>
    </div>
</div>