.header {
	&__section {
		text-transform: uppercase;
		font-size: @font-xxs;
		margin: @padding-l 0 @padding-xs 0;
	}
}
h1 {
	font-size: @font-xl;
	font-family: @font-bold;
	font-weight: 700;
	margin: 0;
}