.link {
	text-decoration: none;
	color: @blue;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: fade(@blue, 20%);
	&:hover {
		color: @red;
		border-bottom-color: fade(@red, 20%)
	}
}
.style {
	&_red {
		color: @red;
		border-bottom-color: fade(@red, 20%);
	}
	&_blue {
		color: @blue;
		border-bottom-color: fade(@blue, 20%);
	}
	&_black {
		color: @black;
		border-bottom-color: fade(@black, 20%);
	}
	&_green {
		color: @green;
		border-bottom-color: fade(@green, 20%);
	}
	&_orange {
		color: @orange;
		border-bottom-color: fade(@orange, 20%);
	}
	&_gray {
		color: @gray;
		border-bottom-color: fade(@gray, 20%);
	}
	&_dotted {
		border-bottom-style: dotted;
	}
	&_dashed {
		border-bottom-style: dashed;
	}
	&_solid {
		border-bottom-style: solid;
	}
	&_no {
		&_link {
			text-decoration: none;
			border-bottom-width: 0;
		}
		&_border {
			border-bottom-width: 0;
		}
		&_hover:hover {
			span {
				color: inherit;
				border-bottom-color: inherit;
			}
		}
	}
	&_thin {
		font-family: @font-thin;
	}
	&_light {
		font-family: @font-light;
	}
	&_regular {
		font-family: @font-regular;
	}
	&_semibold {
		font-family: @font-medium;
	}
	&_bold {
		font-family: @font-bold;
	}
	&_delimiter {
		padding: 0 7px;
		opacity: .8;
	}
}