@import 'sections/dashboard.less';
@import 'sections/comments.less';
@import 'sections/attach.less';
@import 'sections/tasks.less';
@import 'sections/menu.less';
.project {
    &__comments {
        .header__section {
            padding-left: @block-padding-horizontal;
        }
    }
    &__menu,
    &__comments,
    &__tasks {
        padding: 0;
    }
    &__actions {
        //border-top: 1px solid @border-color;
        padding-top: @padding-xl;
        padding-bottom: @padding-s;
        margin: 0;
    }
}
