//- include ../../static/views/nav/navigation.jade
//- include ../../static/views/project/project.jade
//- include ../../static/views/tracker/tracker.jade
//- extends ../../static/views/common/layout.jade
//- block content
//- 	+navigation(sections.navigation)
//- 	.grid.wrap
//- 		section(class="grid__cell grid_size_6 #{project.level ? 'project_level_' + level : ''} ")
//- 			.title.title__page
//- 				.title__header
//- 					a(href= project.url).link.style_size_l.style_bold.style_black= project.title
//- 			.project
//- 				section.project__section.project__menu
//- 					+project-menu(sections.menu)
//- 				.grid.project__section.project__info
//- 					.header__section
//- 						span.style_gray #{sections.description}
//- 					section.grid__cell.grid_size_3.project__description= project.description
//- 					section.grid__cell.grid_size_5.project__dashboard
//- 						+project-dashboard(project)
//- 				section.project__section.project__tasks
//- 					+project-tasks(project.tasks)
//- 		section.tracker.grid__cell.grid_size_2
//- 			+tracker(project.tasks)