//- include ../../static/views/nav/navigation.jade
//- include ../../static/views/project/project.jade
//- include ../../static/views/tracker/tracker.jade
//- extends ../../static/views/common/layout.jade
//- block content
//- 	+navigation(navigation)