<h1 class="doc__header">Реквизиты</h1>
<div class="doc__content">
    API Яндекс.Денег для приложений позволяет использовать большую часть функций сервиса для разработки своих платёжных решений. API пригодится интернет-магазинам, веб-сервисам с платной подпиской, разработчикам приложений для приема платежей и ведения статистики на сайте и в мобильных приложениях. Через API можно: - проводить платежи с любых банковских карт или из кошельков в Яндекс.Деньгах (больше способов в протоколе Кассы); - проводить регулярные платежи, сохраняя данные карты или кошелька клиента; - запрашивать информацию о пользователях: баланс, историю платежей, наличие привязанных карт; - получать автоматические HTTP-уведомления о входящих переводах.
</div>