<div class="opentask__steps tasksteps">
    <div class="tasksteps__list">
        <div class="tasksteps__item taskstep header_title style_gray">Открыто
            <div class="taskstep__description">(12.04)</div>
        </div>
        <div class="tasksteps__item taskstep header_title style_black">В работе
            <div class="taskstep__description">(Ахатов, до 16.04)</div>
            <div class="tasksteps__actions"></div>
        </div>
        <div class="tasksteps__item taskstep header_title style_gray">Код-ревью
            <div class="taskstep__description">(Лунин)</div>
        </div>
        <div class="tasksteps__item taskstep header_title style_gray">Дизайн-ревью
            <div class="taskstep__description">(Синельников)</div>
        </div>
        <div class="tasksteps__item taskstep header_title style_gray">Согласование
            <div class="taskstep__description">(до 20.04)</div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid__cell grid__cell_size_5">
        <div class="opentask__section tasksection">
            <div class="opentask__title header_section">Задачи (0/4, 32 часа, 123 ₽)</div>
            <div class="list list_type_todo">
                <label class="list__item tasksection">
                    <div class="list__content_align_left">
                        <input class="tasksection__checkbox" type="checkbox"/>
                    </div>
                    <div class="list__content_align_right">
                        <div class="tasksection__text">
                            Обводка поиска и фокус
                            <span class="tasksection__actions">
                                <span class="js_subtask_edit link blue">E</span>
                                <span class="js_subtask_del link blue">X</span>
                            </span>
                        </div>
                    </div>
                </label>
                <label class="list__item tasksection">
                    <div class="list__content_align_left">
                        <input class="tasksection__checkbox" type="checkbox"/>
                    </div>
                    <div class="list__content_align_right">
                        <div class="tasksection__text">
                            Звезда – серая, когда нажата
                            <span class="tasksection__actions">
                                <span class="js_subtask_edit link blue">E</span>
                                <span class="js_subtask_del link blue">X</span>
                            </span>
                        </div>
                    </div>
                </label>
                <label class="list__item tasksection">
                    <div class="list__content_align_left">
                        <input class="tasksection__checkbox" type="checkbox"/>
                    </div>
                    <div class="list__content_align_right">
                        <div class="tasksection__text">
                            Отступ между избранными и поиском
                            <span class="tasksection__actions">
                                <span class="js_subtask_edit link blue">E</span>
                                <span class="js_subtask_del link blue">X</span>
                            </span>
                        </div>
                    </div>
                </label>
                <label class="list__item tasksection">
                    <div class="list__content_align_left">
                        <input class="tasksection__checkbox" type="checkbox"/>
                    </div>
                    <div class="list__content_align_right">
                        <div class="tasksection__text">
                            Кегль очистить историю
                            <span class="tasksection__actions">
                                <span class="js_subtask_edit link blue">E</span>
                                <span class="js_subtask_del link blue">X</span>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
            <div class="form__add">
                <input placeholder="Добавить новую задачу" class="input"/><i
                    class="icon icon_size_s icon__enter icon_align_vertical"></i>
            </div>
        </div>
        <div class="opentask__section tasksection">
            <div class="opentask__title comments header_section">Комментарии</div>
            <div class="list list_type_todo">
                <div class="list__item">
                    <div class="list__content_align_left">
                        <div class="comment__photo">A</div>
                    </div>
                    <div class="list__content_align_right">
                        <div class="comment__header style_gray">Ахатов</div>
                        <div class="comment__text">Не могу связаться по телефону</div>
                    </div>
                </div>
                <div class="form__add">
                    <input placeholder="Комментарий" class="input"><i
                        class="icon i icon icon_size_s icon__enter icon_align_vertical"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="grid__cell grid__cell_size_3">
        <div class="opentask__title tabs header_section">
            <div class="tabs__item tabs__item_state_open">Основное</div>
            <div class="tabs__item">Файлы (2)</div>
            <div class="tabs__item">Настройки</div>
        </div>
        <div class="opentask__section">
            <table class="opentask__description opendescription">
                <tr>
                    <td colspan="2" class="opendescription__cell">
                        <div class="header_section opendescription__header">Описание</div>
                        <div class="opentask__text">{{description}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="opendescription__cell header_section opendescription__header">Приоритет</td>
                    <td class="opendescription__cell">Верстка</td>
                </tr>
                <tr>
                    <td class="opendescription__cell header_section opendescription__header">Компонент</td>
                    <td class="opendescription__cell">API</td>
                </tr>
                <tr>
                    <td class="opendescription__cell header_section opendescription__header">Тип</td>
                    <td class="opendescription__cell">Верстка</td>
                </tr>
                <tr>
                    <td class="opendescription__cell header_section opendescription__header">Ветки</td>
                    <td class="opendescription__cell">
                        <div>Начало с<a href="#" class="link"> GIS-281</a></div>
                        <div>Окончание с<a href="#" class="link"> GIS-900</a></div>
                        <div>После с<a href="#" class="link"> GIS-522</a></div>
                        <div>До с<a href="#" class="link"> GIS-467</a></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>