<table class="tasks">
    {{#each tasks}}
        <tbody class="tasks__item js_task">
            <tr class="task js_task_header">
                <td class="task__cell header_tag style_gray">{{name_id}}</td>
                <td class="task__cell task__cell_type_main">
                    <div class="task__text">{{title}}</div>
                </td>
                <td class="task__cell task__time">Ахатов</td>
                <td class="task__cell style_align_right">
                    <a href="#" class="link style_solid label label_type_open">
                        <span class="header_tag">Статус {{status}}</span>
                    </a>
                </td>
                <td class="task__cell task__time">23 мин</td>
            </tr>
        </tbody>
    {{/each}}
</table>