<section class="page__section project__breadcrumbs">
    <div class="breadcrumbs">
        <span class="style_size_l style_bold">{{title}}</span>
        <span class="dropdown dropdown_on_hover nostyle">
            <div class="dropdown__trigger nostyle">
                <i class="icon icon__more icon_hover_on icon_size_s"></i>
            </div>
            <div class="dropdown__context">
                <div class="dropdown__item link blue" data-id="{{_id}}">Удалить</div>
            </div>
        </span>
    </div>
</section>
<section class="page__section project__dashboard grid">
    <section class="grid__cell grid__cell_size_3">
        <div class="dashboard__description">{{description}}</div>
    </section>
    <section class="grid__cell grid__cell_size_5">
        <div class="dashboard">
            <div class="dashboard__item">
                <div class="header_section style_black">Старт</div>
                <div class="dashboard__content">
                    {{[../../js/hbs/dateFormat] 'DD MMM' start}}
                </div>
            </div>
            <div class="dashboard__item">
                <div class="header_section style_black">Релиз</div>
                <div class="dashboard__content style_red">
                    {{[../../js/hbs/dateFormat] 'DD MMM' finish}}
                </div>
            </div>
            <div class="dashboard__item">
                <div class="header_section style_black">Код</div>
                <div class="dashboard__content">{{name_id}}</div>
            </div>
            <div class="dashboard__item">
                <div class="header_section style_black">Прогресс</div>
                <div class="dashboard__content">
                    <span class="style_black">1</span>
                    <span class="style_delimiter style_gray">/</span>
                    <span class="style_black">7</span>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="page__section project__actions grid">
    <div class="grid__cell header_title">
        <div class="tasksadd__wrap tabs__item_state_open style_black">
            Все задачи
            <input type="checkbox" id="__addtask" class="tasksadd__input">
            <label for="__addtask">
                <i class="tasksadd__icon icon icon__add icon_hover_on"></i>
            </label>
            <span class="tasksadd js_task_add">
                <input placeholder="Новая задача" class="input js_add_subtask"/>
                <i class="icon icon_size_s icon__enter icon_align_vertical"></i>
            </span>
        </div>
    </div>
    <!--<div class="grid__cell grid__cell_align_right header_title">
        <span class="dropdown dropdown_on_hover style_black">
            <div class="dropdown__trigger nostyle noalign">
                Настройка вида
                <i class="icon icon__chevron icon_rotate_180 icon_size_xs"></i>
            </div>
            <div class="dropdown__context dropdown__context_position_right">
                <div class="dropdown__item link blue">Удалить</div>
                <div class="dropdown__item link blue">Редактировать</div>
            </div>
        </span>
    </div>-->
</section>
<section class="page__section project__tasks">
    <div id="tasks"></div>
</section>
