<section class="page__section project__breadcrumbs">
    <div class="breadcrumbs">
        <span class="style_size_l style_bold">{{title}}</span>
    </div>
    <div class="breadcrumbs">
        {{#each breadcrumbs}}
            <span class="style_size_l style_bold">{{item.name}}</span>
            <a href="#" class="link style_blue"></a>
            <span class="style_delimiter style_gray">/</span>
        {{/each}}
        <!--if i == breadcrumbs.title.length-1-->
        <!--else-->
    </div>
</section>
<section class="page__section project__dashboard grid">
    <section class="grid__cell grid__cell_size_3">
        <div class="dashboard__description">{{description}}</div>
    </section>
    <section class="grid__cell grid__cell_size_5">
        <div class="dashboard">
            <div class="dashboard__item">
                <div class="header_section style_black">Старт</div>
                <div class="dashboard__content">
                    {{[../../js/hbs/dateFormat] 'DD MMM' start}}
                </div>
            </div>
            <div class="dashboard__item">
                <div class="header_section style_black">Релиз</div>
                <div class="dashboard__content style_red">
                    {{[../../js/hbs/dateFormat] 'DD MMM' finish}}
                </div>
            </div>
            <div class="dashboard__item">
                <div class="header_section style_black">Ветка GIT</div>
                <div class="dashboard__content">{{branch}}</div>
            </div>
            <div class="dashboard__item">
                <div class="header_section style_black">Прогресс</div>
                <div class="dashboard__content">
                    <span class="style_black">1</span>
                    <span class="style_delimiter style_gray">/</span>
                    <span class="style_black">7</span>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="page__section project__actions grid">
    <div class="grid__cell header_title">
        <div class="tabs__item_state_open style_black">
            Все задачи
            <i class="icon icon__add icon_hover_on"></i>
        </div>
    </div>
    <div class="grid__cell grid__cell_align_right header_title">
        <span class="style_black">Настройка вида
            <i class="icon icon__chevron icon_rotate_180 icon_size_xs icon_padding_left"></i>
        </span>
    </div>
</section>
<section class="page__section project__tasks">
    <div id="tasks"></div>
</section>
