<table class="tasks">
    {{#each tasks}}
        <tr class="task">
            <td class="task__cell header_tag style_gray">{{branch}}</td>
            <td class="task__cell task__cell_type_main">
                <a href="#milestone/{{name_id}}" class="task__link task__text link style_black">{{title}}</a>
            </td>
            <td class="task__cell task__content">Человек или описание</td>
            <td class="task__cell style_align_right">
                {{{[../../js/hbs/projectStatusFormat] status}}}
            </td>
            <td class="task__cell task__content">23 мин</td>
            <td class="task__cell">
                <div class="menu__item dropdown dropdown_on_hover nostyle">
                    <div class="dropdown__trigger nostyle">
                        <i class="icon icon__more icon_hover_on icon_size_s"></i>
                    </div>
                    <div class="dropdown__context dropdown__context_position_right">
                        <div class="dropdown__item link blue">Удалить</div>
                        <div class="dropdown__item link blue">Редактировать</div>
                    </div>
                </div>
            </td>
        </tr>
    {{/each}}
</table>