<table class="tasks">
    {{#each tasks}}
        <tr class="task">
            <td class="task__cell header_tag style_gray">{{branch}}</td>
            <td class="task__cell task__cell_type_main">
                <a href="#milestone/{{id}}" class="task__link task__text link style_black">{{title}}</a>
            </td>
            <td class="task__cell task__content">Человек или описание</td>
            <td class="task__cell style_align_right">
                <a href="#" class="link style_solid label label_type_open">
                    <span class="header_tag">Статус {{status}}</span>
                </a>
            </td>
            <td class="task__cell task__content">23 мин</td>
        </tr>
    {{/each}}
</table>