{{#each projects}}
    <a href="#project/{{id}}/" class="page__section project__projects grid link style_black style_hover_light">
        <section class="grid__cell grid__cell_size_3 style_black">
            <div class="dashboard__description">{{description}}</div>
        </section>
        <section class="grid__cell grid__cell_size_5 style_black">
            <div class="dashboard">
                <div class="dashboard__item">
                    <div class="header_section style_black">Старт</div>
                    <div class="dashboard__content">
                        {{[../../js/hbs/dateFormat] 'DD MMM' start}}
                    </div>
                </div>
                <div class="dashboard__item">
                    <div class="header_section style_black">Релиз</div>
                    <div class="dashboard__content style_red">
                        {{[../../js/hbs/dateFormat] 'DD MMM' finish}}
                    </div>
                </div>
                <div class="dashboard__item">
                    <div class="header_section style_black">Ветка GIT</div>
                    <div class="dashboard__content">{{branch}}</div>
                </div>
                <div class="dashboard__item">
                    <div class="header_section style_black">Прогресс</div>
                    <div class="dashboard__content">
                        <span class="style_black">1</span>
                        <span class="style_delimiter style_gray">/</span>
                        <span class="style_black">7</span>
                    </div>
                </div>
            </div>
        </section>
    </a>
{{/each}}
