<div class="auth page__section grid grid_flex_2">
    <div class="grid__cell">
        <div class="style_size_l style_bold">Вход в систему</div>
        <input type="text" value="gcor" placeholder="Логин" class="input auth__input js_login_input js_login_username">
        <input type="password" value="123" placeholder="Пароль" class="input auth__input js_login_input js_login_password">
        <span class="auth__submit button js_login_submit">Войти</span>
        <span class="gray auth__notify js_login_notify style_gray"></span>
    </div>
    <div class="grid__cell">
        <div class="style_size_l style_bold">Регистрация компании</div>
        <input type="text" placeholder="Имя" class="input auth__input js_signup_input js_signup_name">
        <input type="text" placeholder="Фамилия" class="input auth__input js_signup_input js_signup_surname">
        <input type="text" placeholder="Логин" class="input auth__input js_signup_input js_signup_username">
        <input type="password" placeholder="Пароль" class="input auth__input js_signup_input js_signup_password">
        <input type="text" placeholder="Название компании" class="input auth__input js_signup_input js_signup_company_title">
        <input type="text" placeholder="Логин компания" class="input auth__input js_signup_input js_signup_company">
        <div class="auth__submit button js_signup_submit">Зарегистрироваться</div>
        <span class="gray auth__notify js_signup_notify style_gray"></span>
    </div>
</div>