extends ../jade/common/layout.jade
block content
    -var project = { title: 'Погодный сайт', url: '#', level: 0, description: 'Цефеиды — класс пульсирующих переменных звёзд с довольно точной зависимостью период—светимость. '}
    -var sections = { description: 'Описание', attach: 'Прикрепленные файлы', list: 'Связано', comments: 'Комментарии' }
    -var breadcrumbs = { title: [{ name: 'Назад', url: 'projects.html' }, { name: 'Настройка релизов'}] }
    .grid.wrap
        section.grid__cell.grid__cell_size_8
            .project
                section.project__section.project__menu
                    +project-menu(menu)
                section.project__section.project__breadcrumbs
                    +project-breadcrumbs(breadcrumbs)
                section.project__section.project__tasks.grid.grid_flex_2
                    .grid__cell
                        .tasks__title.tabs
                            .tabs__item.tabs__item_state_open.header_ui Добавить задачу
                            .tabs__item.header_ui Поиск
                        .tasksearch.grid
                            input(placeholder='НАЗВАНИЕ').input.input_with_border.tasksearch__input
                            .grid_flex_4.grid_padding_s
                                .grid__cell
                                    select.header_ui.select
                                        option(selected, disabled) Автор
                                        option 1
                                .grid__cell
                                    select.header_ui.select
                                        option(selected, disabled) Тип
                                        option Привет
                                .grid__cell
                                    select.header_ui.select
                                        option(selected, disabled) С
                                        option 1
                                .grid__cell
                                    select.header_ui.select
                                        option(selected, disabled) По
                                        option 1
                        .tasks__title.header_tag Верстка
                        table.tasks
                            tbody.tasks__body
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-123
                                    td.task__cell.task__cell_type_main
                                        .task__text Шаринг в монге
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-235
                                    td.task__cell.task__cell_type_main
                                        .task__text Верстка макета радара
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-68
                                    td.task__cell.task__cell_type_main
                                        .task__text Карта сайта
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-42
                                    td.task__cell.task__cell_type_main
                                        .task__text Шаринг в монге
                        .tasks__title.header_tag Программирование
                        table.tasks
                            tbody.tasks__body
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-40
                                    td.task__cell.task__cell_type_main
                                        .task__text Верстка макета радара
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-11
                                    td.task__cell.task__cell_type_main
                                        .task__text Сделанная задача
                        .tasks__title.header_tag Дизайн
                        table.tasks
                            tbody.tasks__body
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-123
                                    td.task__cell.task__cell_type_main
                                        .task__text Шаринг в монге
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-235
                                    td.task__cell.task__cell_type_main
                                        .task__text Верстка макета радара
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-68
                                    td.task__cell.task__cell_type_main
                                        .task__text Карта сайта
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-42
                                    td.task__cell.task__cell_type_main
                                        .task__text Шаринг в монге
                        .tasks__title.header_tag Администрирование
                        table.tasks
                            tbody.tasks__body
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-40
                                    td.task__cell.task__cell_type_main
                                        .task__text Верстка макета радара
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-11
                                    td.task__cell.task__cell_type_main
                                        .task__text Сделанная задача
                    .grid__cell
                        .tasks__title.header_ui Релизы
                            i.icon.icon__add.icon_padding_left
                            i.icon.icon__done.icon_padding_left
                        table.tasks
                            tbody.tasks__body
                                tr.grouptask__header.header_tag
                                    td(colspan=2).task__cell.task__cell_type_main
                                        .task__text Релиз 2.2
                                            i.icon.icon__chevron.icon_rotate_180.icon_size_xs.icon_padding_left
                            tbody.tasks__body.grouptask.grouptask_active_true.grouptask_no_padding
                                tr.task.grouptask__header.header_tag
                                    td(colspan=2).task__cell.task__cell_type_main
                                        .task__text Релиз 2.1
                                            i.icon.icon__chevron.icon_size_xs.icon_padding_left
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-123
                                    td.task__cell.task__cell_type_main
                                        .task__text Шаринг в монге
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-235
                                    td.task__cell.task__cell_type_main
                                        .task__text Верстка макета радара
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-68
                                    td.task__cell.task__cell_type_main
                                        .task__text Карта сайта
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-42
                                    td.task__cell.task__cell_type_main
                                        .task__text Шаринг в монге
                            tbody.tasks__body.grouptask.grouptask_active_true.grouptask_no_padding
                                tr.task.grouptask__header.header_tag
                                    td(colspan=2).task__cell.task__cell_type_main
                                        .task__text Релиз 2.0
                                            i.icon.icon__chevron.icon_size_xs.icon_padding_left
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-40
                                    td.task__cell.task__cell_type_main
                                        .task__text Верстка макета радара
                                tr.task
                                    td.task__cell.header_tag.style_gray GIS-11
                                    td.task__cell.task__cell_type_main
                                        .task__text Сделанная задача
                            tbody.tasks__body
                                tr.grouptask__header.header_tag
                                    td(colspan=2).task__cell.task__cell_type_main
                                        .task__text Релиз 1.9
                                            i.icon.icon__chevron.icon_rotate_180.icon_size_xs.icon_padding_left
                            tbody.tasks__body
                                tr.grouptask__header.header_tag
                                    td(colspan=2).task__cell.task__cell_type_main
                                        .task__text Релиз 1.8
                                            i.icon.icon__chevron.icon_rotate_180.icon_size_xs.icon_padding_left
                            tbody.tasks__body
                                tr.grouptask__header.header_tag
                                    td(colspan=2).task__cell.task__cell_type_main
                                        .task__text Релиз 1.7
                                            i.icon.icon__chevron.icon_rotate_180.icon_size_xs.icon_padding_left