extends ../jade/common/layout.jade
block content
    -var project = { title: 'Погодный сайт', url: '#', level: 0, description: 'Цефеиды — класс пульсирующих переменных звёзд с довольно точной зависимостью период—светимость. '}
    -var sections = { description: 'Описание', attach: 'Прикрепленные файлы', list: 'Связано', comments: 'Комментарии' }
    -var breadcrumbs = { title: [{ name: 'Погодный сайт', url: '#' }] }
    .grid.wrap
        section.grid__cell.grid_size_8
            .project
                section.project__section.project__menu
                    +project-menu(menu)
                section.project__section.project__breadcrumbs
                    +project-breadcrumbs(breadcrumbs)
                section.project__section.project__dashboard
                    .grid
                        section.grid__cell.grid_size_3
                            .dashboard__description= project.description
                        section.grid__cell.grid_size_5
                            .dashboard
                                .dashboard__item
                                    .header_title.style_gray Проект
                                    .dashboard__content GIS
                                .dashboard__item
                                    .header_title.style_gray Сегодня
                                    .dashboard__content 11 авг
                                .dashboard__item
                                    .header_title.style_gray Следующий релиз
                                    .dashboard__content 13 авг
                                .dashboard__item
                                    .header_title.style_gray Статистика
                                    .dashboard__content Все нормально
                section.project__section.project__actions.grid.header_ui
                    .grid__cell
                        span.style_black Задача
                            i.icon.icon__add.icon_padding_left.icon_hover_on
                    .grid__cell.grid__cell_align_right
                        span.style_black Без сортировки
                            i.icon.icon__chevron.icon_rotate_180.icon_size_xs.icon_padding_left
                section.project__section.project__tasks
                    table.tasks
                        tbody
                            tr.task
                                td.task__cell
                                    .task__tags
                                        .header_tag.style_gray.task__tag 18 ноя
                                    .task__text Релиз 1.3
                                td.task__cell.task__description.style_align_right.style_italic Раздел климат
                                td.task__cell
                                    .link.style_solid.task__label.label.label_type_open
                                        .header_tag Взять в работу
                            tr.task
                                td.task__cell
                                    .task__tags
                                        .header_tag.style_gray.task__tag 4 ноя
                                    .task__text Релиз 1.2
                                td.task__cell.task__description.style_align_right.style_italic
                                td.task__cell
                                    .task__label.label.label_type_wait
                                        .header_tag 2 проблемы
                                    .label.label_type_progress
                                        .header_tag 42 / 73
                            tr.task
                                td.task__cell
                                    .task__tags
                                        .header_tag.task__tag
                                            span.style_gray 26 окт –&nbsp;
                                            span.style_red 1 ноя (Просрочено 2 дня)
                                    .task__text Спецрелиз 1.1.0
                                td.task__cell.task__description.style_align_right.style_italic Раздел софт
                                td.task__cell
                                    .label.label_type_progress
                                        .header_tag 95 / 122
                            tr.task
                                td.task__cell
                                    .task__tags
                                        .header_tag.style_gray.task__tag 19 окт – 26 окт
                                    .task__text.style_gray Релиз 1.1
                                td.task__cell.task__description.style_align_right.style_italic.style_gray
                                td.task__cell
                                    .label.label_type_done
                                        .header_tag Успешный релиз
                            tr.task
                                td.task__cell
                                    .task__tags
                                        .header_tag.style_gray.task__tag 12 окт – 19 окт
                                    .task__text.style_gray Релиз 1.0
                                td.task__cell.task__description.style_align_right.style_italic.style_gray Раздел каталог
                                td.task__cell
                                    .label.label_type_done
                                        .header_tag Успешный релиз