extends ../jade/common/layout.jade
block content
    -var project = { title: 'Погодный сайт', url: '#', level: 0, description: 'Цефеиды — класс пульсирующих переменных звёзд с довольно точной зависимостью период—светимость. '}
    -var sections = { description: 'Описание', attach: 'Прикрепленные файлы', list: 'Связано', comments: 'Комментарии' }
    -var breadcrumbs = { title: [{ name: 'Погодный сайт', url: '/projects.html' }, { name: 'Релиз 1.0'}] }
    .grid.wrap
        section.grid__cell.grid__cell_size_8
            .project
                section.project__section.project__menu
                    +project-menu(menu)
                section.project__section.project__breadcrumbs
                    +project-breadcrumbs(breadcrumbs)
                section.project__section.project__dashboard
                    .grid
                        section.grid__cell.grid__cell_size_3
                            .dashboard__description= project.description
                        section.grid__cell.grid__cell_size_5
                            .dashboard
                                .dashboard__item
                                    .header_title.style_gray Старт
                                    .dashboard__content 11 авг
                                .dashboard__item
                                    .header_title.style_gray Сегодня
                                    .dashboard__content 13 авг
                                .dashboard__item
                                    .header_title.style_gray Релиз
                                    .dashboard__content.style_red 15 авг
                                .dashboard__item
                                    .header_title.style_gray Прогресс
                                    .dashboard__content
                                        span.style_black 1
                                        span.style_delimiter.style_gray /
                                        span.style_black 7
                section.project__section.project__actions.grid.header_ui
                    .grid__cell
                        span.style_black Задача
                            i.icon.icon__add.icon_padding_left.icon_hover_on
                    .grid__cell.grid__cell_align_right
                        span.style_black По типу
                            i.icon.icon__chevron.icon_rotate_180.icon_size_xs.icon_padding_left
                section.project__section.project__tasks
                    .tasks__title.header_tag Верстка
                    table.tasks
                        tbody.tasks__body
                            tr.task
                                td.task__cell.header_tag.style_gray GIS-123
                                td.task__cell.task__cell_type_main
                                    .task__text Шаринг в монге
                                td.task__cell.style_align_right
                                    a(href="#").link.style_solid.label.label_type_open
                                        .header_tag Взять
                                td.task__cell.task__time 23 мин
                            tr.task
                                td.task__cell.header_tag.style_gray GIS-235
                                td.task__cell.task__cell_type_main
                                    .task__text Верстка макета радара
                                td.task__cell.style_align_right
                                    .label.label_type_progress
                                        .header_tag 10 / 11
                                td.task__cell.task__time 1 д 2 часа
                            tr.task
                                td.task__cell.header_tag.style_gray GIS-68
                                td.task__cell.task__cell_type_main
                                    .task__text Карта сайта
                                td.task__cell.style_align_right
                                    .label.label_type_progress
                                        .header_tag 0 / 4
                                td.task__cell.task__time 12 мин
                            tr.task
                                td.task__cell.header_tag.style_gray GIS-42
                                td.task__cell.task__cell_type_main
                                    .task__text Шаринг в монге
                                td.task__cell.style_align_right
                                    a(href="#").link.style_solid.label.label_type_open
                                        .header_tag Взять
                                td.task__cell.task__time 23 мин
                    .tasks__title.header_tag Программирование
                    table.tasks
                        tbody.tasks__body
                            tr.task
                                td.task__cell.header_tag.style_gray GIS-40
                                td.task__cell.task__cell_type_main
                                    .task__text Верстка макета радара
                                td.task__cell.style_align_right
                                    .label.label_type_progress
                                        .header_tag Ревью
                                td.task__cell.task__time.style_red 2 д 4 часа
                            tr.task
                                td.task__cell.header_tag.style_gray GIS-11
                                td.task__cell.task__cell_type_main
                                    .task__text Сделанная задача
                                td.task__cell.style_align_right
                                    .label.label_type_wait
                                        .header_tag Ждет уточнения
                                td.task__cell.task__time 9 часов
                    table.tasks
                        tbody.tasks__body
                            tr.task
                                td.task__cell.task__cell_type_main
                                    .task__tags
                                        a(href="#").link.header_tag.style_gray.task__tag Программирование
                                        a(href="#").link.header_tag.style_gray.task__tag GIS-57
                                    .task__text Шаринг в монге
                                td.task__cell.style_align_right
                                    a(href="#").link.style_solid.label.label_type_open
                                        .header_tag Взять
                                td.task__cell.task__time 23 мин
                            tr.task
                                td.task__cell.task__cell_type_main
                                    .task__tags
                                        a(href="#").link.header_tag.style_gray.task__tag Дизайн
                                        a(href="#").link.header_tag.style_gray.task__tag GIS-311
                                    .task__text Верстка макета радара
                                td.task__cell.style_align_right
                                    .label.label_type_progress
                                        .header_tag 10 / 11
                                td.task__cell.task__time 1 д 2 часа