extends ../jade/common/layout.jade
block content
	-var project = { title: 'Погодный сайт', url: '#', level: 0, description: 'Цефеиды — класс пульсирующих переменных звёзд с довольно точной зависимостью период—светимость. '}
	-var sections = { description: 'Описание', attach: 'Прикрепленные файлы', list: 'Связано', comments: 'Комментарии' }
	-var menu = [{ name: 'Задачи', url: '#', selected: true }, { name: 'Доска', url: '#' }, { name: 'Финансы', url: '#' }, { name: 'Отчеты', url: '#' }, { name: 'Документации', url: '#' }]
	-var breadcrumbs = { title: [{ name: 'Релиз 2.1', url: '#' }, { name: 'Правки по верстке', url: '#' }, { name: 'Верстка радара' }] }
	-var nav = { menu: [{ name: 'Проекты', url: '#', selected: true }, { name: 'Календарь', url: '#' }, { name: 'Финансы', url: '#' }, { name: 'Риски', url: '#' }, { name: 'Отчеты', url: '#' }, { name: 'Документация', url: '#' }], user: { pic: '/', name: 'Антон Ахатов', } }
	//- +navigation(nav)
	.grid.wrap
		section.grid__cell.grid_size_8
			//- h1.title.title__page
				.title__header.style_size_l.style_bold
					a(href= project.url).link.style_black= project.title
			.project(class="#{project.level ? 'project_level_' + project.level : ''}")
				section.project__section.project__menu
					+project-menu(menu)
				section.project__section.project__breadcrumbs
					+project-breadcrumbs(breadcrumbs)
				section.project__section.project__dashboard
					+project-dashboard(project)
				//- section.project__section.project__list
					.header__section
						span.style_gray #{sections.list}
					+project-list(list)
				//- section.project__section.project__attach
					.header__section
						span.style_gray #{sections.attach}
						i.icon.icon__add.icon_padding_left.icon_hover_on
					+project-attach(attach)
				section.project__section.project__tasks
					+project-tasks()
				//- section.project__section.project__comments
					.header__section
						span.style_gray #{sections.comments}
					+project-comments()
		//- section.tracker.grid__cell.grid_size_2
			+tracker(project.tasks)
	script(type="text/template", id="task-template").
		<div class="task__cell task__cell_size_full"><%= title %></div>
		<div class="task__cell style_red"><%= timePass %></div>
		<div class="task__cell"><%= branch %></div>
		<div class="task__cell"><%= assign %></div>