doctype html
head
	meta(charset='utf-8')
	title Привет
	link(rel='stylesheet', href='css/style.css')
body
	h1 Ну вот
	//- p We are using node <script>document.write(process.versions.node)</script>,
	//- p Chrome <script>document.write(process.versions.chrome)</script>,
	//- p and Electron <script>document.write(process.versions.electron)</script>.
	section#react
	script(src='js/main.js')

//- include ../views/nav/navigation.jade
//- include ../views/project/project.jade
//- include ../views/tracker/tracker.jade
//- extends ../views/common/layout.jade
//- block content
//- 	+navigation(navigation)
//- 	