extends ../jade/common/layout.jade
block content
    -var project = { title: 'Погодный сайт', url: '#', level: 0, description: 'Цефеиды — класс пульсирующих переменных звёзд с довольно точной зависимостью период—светимость. Пульсирующих переменных звёзд с довольно точной зависимостью период—светимость. '}
    -var sections = { description: 'Описание', attach: 'Прикрепленные файлы', list: 'Связано', comments: 'Комментарии' }
    -var breadcrumbs = { title: [{ name: 'Погодный сайт', url: 'projects.html' }, { name: 'Релиз 1.0'}] }
    .grid.wrap
        section.grid__cell .grid__cell_size_8