extends ../jade/common/layout.jade
block content
    -var project = { title: 'Погодный сайт', url: '#', level: 0, description: 'Цефеиды — класс пульсирующих переменных звёзд с довольно точной зависимостью период—светимость. Пульсирующих переменных звёзд с довольно точной зависимостью период—светимость. '}
    -var sections = { description: 'Описание', attach: 'Прикрепленные файлы', list: 'Связано', comments: 'Комментарии' }
    -var breadcrumbs = { title: [{ name: 'Погодный сайт', url: 'projects.html' }, { name: 'Релиз 1.0'}] }
    .grid.wrap
        section.grid__cell.grid__cell_size_8
            .project
                section.project__section.project__menu
                    +project-menu(menu)
                section.project__section.project__breadcrumbs
                    +project-breadcrumbs(breadcrumbs)
                section.project__section.project__dashboard
                    .grid
                        section.grid__cell.grid__cell_size_3
                            .dashboard__description= project.description
                        section.grid__cell.grid__cell_size_5
                            .dashboard
                                .dashboard__item
                                    .header_section.style_black Старт
                                    .dashboard__content 11 авг
                                .dashboard__item
                                    .header_section.style_black Релиз
                                    .dashboard__content.style_red 13 авг
                                .dashboard__item
                                    .header_section.style_black Ветка GIT
                                    .dashboard__content Master
                                .dashboard__item
                                    .header_section.style_black Прогресс
                                    .dashboard__content
                                        span.style_black 1
                                        span.style_delimiter.style_gray /
                                        span.style_black 7
                section.project__section.project__actions.grid
                    .grid__cell.header_title.tabs
                        .tabs__item.tabs__item_state_open.style_black Все задачи
                            i.icon.icon__add.icon_padding_left.icon_hover_on
                        .tabs__item.link.style_blue Только мои
                    .grid__cell.grid__cell_align_right.header_title
                        span.style_black Настройка вида
                            i.icon.icon__chevron.icon_rotate_180.icon_size_xs.icon_padding_left
                section.project__section.project__tasks
                    +project-tasks()