@font-root: @font-m @font-light;

@font-thin: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
@font-light: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
@font-regular: 'HelveticaNeue-Regular', Helvetica, Arial, sans-serif;
@font-medium: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
@font-bold: 'HelveticaNeue-Bold', Helvetica, Arial, sans-serif;

@font-xl: 20px/24px;
@font-l: 16px/20px;
@font-m: 14px/17px;
@font-s: 13px/16px;
@font-xs: 12px/15px;