.make-grid (@prefix, @columns) {
    .@{prefix} {
        box-sizing: border-box;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        &_type_table {
            display: table;
            width: 100%;
            .@{prefix}__cell {
                display: table-cell;
            }
        }
        &_padding_xs .@{prefix}__cell:not(:first-child):not(:last-child) {
            padding: 0 @padding-xs;
        }
        &_padding_s .@{prefix}__cell:not(:first-child):not(:last-child) {
            padding: 0 @padding-s;
        }
        &_padding_m .@{prefix}__cell:not(:first-child):not(:last-child) {
            padding: 0 @padding-m;
        }
        &_padding_l .@{prefix}__cell:not(:first-child):not(:last-child) {
            padding: 0 @padding-l;
        }
        &_padding_xl .@{prefix}__cell:not(:first-child):not(:last-child) {
            padding: 0 @padding-xl;
        }
        &__cell {
            float: left;
            box-sizing: border-box;
            &_align_right {
                float: right;
            }
        }
        .gridGenerator (@index) when (@index > 0) {
            .@{prefix}__cell_size_@{index} {
                width: 100% / 8 * @index;
            }
            .@{prefix}_flex_@{index} > .@{prefix}__cell {
                width: 100% / @index;
            }
            .gridGenerator(@index - 1);
        }
        .gridGenerator(@columns);
    }
}
@classname: grid;
.make-grid (@classname, 8);