.input {
	width: 100%;
	display: block;
    border: 1px solid transparent;
    border-bottom: 1px solid @lightgray;
	outline: none;
	appearance: none;
	padding: @padding-s 0;
	font: @font-root;
	line-height: 20px;
    border-radius: 0;
	transition: border .1s;
    box-sizing: border-box;
    &_with_border {
        border-radius: @border-radius/2;
        font-size: @font-s;
        letter-spacing: .5px;
        padding: @padding-xs;
        line-height: 1;
        border: 1px solid @lightgray;
    }
	&:focus {
		border-bottom-color: @orange;
	}
}

.select {
    width: 100%;
    display: block;
    outline: none;
    appearance: none;
    padding: @padding-xs;
    margin: 0;
    background: none;
    border-radius: @border-radius/2;
    box-sizing: border-box;
    border: 1px solid @lightgray;
}

.textarea {
    width: 100%;
    display: block;
    min-height: 80px;
    border-radius: @border-radius;
    border-color: @border-color;
    background-color: @lightwhite;
    outline: none;
    appearance: none;
    padding: @padding-s;
    box-sizing: border-box;
    font-size: @font-s;
    font-family: @font-light;
    line-height: 18px;
    transition: border .1s;
    &:focus {
        border-color: @lightgray;
    }
}