.list {
	&_type_todo {
        font-size: @font-xs;
        .list__item {
            display: block;
            line-height: 20px;
            padding: @padding-xs 0;
            .list {
                padding-left: 20px;
            }
        }
        .list__content{
            &_align_left {
                float: left;
                width: 20px;
            }
            &_align_right {
                overflow: hidden;
                padding-left: @padding-xs;
            }
        }
	}
}