include ../ui/dropdown.jade
include ../ui/button.jade
include ../ui/label.jade
include ../ui/title.jade
include ../ui/input.jade
include ../ui/tabs.jade
doctype html
html
	head
		title= pagetitle
		include header.jade
	body
		block content