mixin project-attach()
	.attach
		.attach__list
			a(href="#").attach__item
				img(src="img/attach.png", alt="attach").attach__preview
			a(href="#").attach__item
				img(src="img/attach.png", alt="attach").attach__preview