mixin project-dashboard(dashboard)
	.dashboard
		each section in dashboard
			.dashboard__item
				.dashboard__title.style_gray= section.title
				.dashboard__content
					case section.type
						when 'link'
							a(href= section.value.url).link.style_bold= section.value.name
						when 'nums'
							each link, i in section.values
								a(href= link.url, 
								  class="link style_bold style_" + link.color)= link.num
								if i != section.values.length-1
									span.style_delimiter.style_gray /
						when 'text'
							span(class="style_bold style_" + section.values.color)= section.values.name