mixin project-dashboard(dashboard)
	.dashboard
		each section, title in dashboard
			.dashboard__item
				.dashboard__title.style_gray= title
				.dashboard__content
					each item, value in section
						case value
							when 'link'
								a(href= item.url).link.style_bold= item.name
							when 'nums'
								each link,i in item
									a(href= link.nums, 
									  class="link style_bold style_" + link.color)= link.num
									if i != item.length-1
										span.style_delimiter.style_gray /
							when 'text'
								span(class="style_bold style_" + item.color)= item.name