mixin project-dashboard()
	.dashboard
		.dashboard__item
			.dashboard__title.style_gray Руководитель
			.dashboard__content
				a(href="#").link.style_bold Ахатов Антон
		.dashboard__item
			.dashboard__title.style_gray Прогресс
			.dashboard__content
				a(href="#").link.style_bold.style_orange 12
				span.style_delimiter.style_gray /
				a(href="#").link.style_bold.style_green 23
				span.style_delimiter.style_gray /
				a(href="#").link.style_bold.style_gray 512
		.dashboard__item
			.dashboard__title.style_gray Старт
			.dashboard__content
				span.style_bold 11 авг 15