mixin project-list(list)
	.list.list_type_horizontal
		each item in list
			.list__item
				a(href= item.url).link
					span= item.branch
					span.style_gray.style_delimiter –
					span.style_black= item.description
