mixin project-tasks()
	.tasks
		.style_hover.tasks__item
			.tasks__cell.header__section.style_gray Номер релиза
				.header__add 
					+ui-add()
			.tasks__cell.header__section.style_gray Задачи
			.tasks__cell.header__section.style_gray Старт
			.tasks__cell.header__section.style_gray Релиз
		a(href="#").link.style_hover_light.tasks__item
			.tasks__cell
				span 2.0
			.tasks__cell
				span.style_orange 12
				span.style_delimiter.style_gray /
				span.style_green 48
				span.style_delimiter.style_gray /
				span.style_black 50
			.tasks__cell.style_black 12 апр
			.tasks__cell.style_black Завтра
		a(href="#").link.style_hover_light.tasks__item
			.tasks__cell
				span 1.3
			.tasks__cell
				span.style_gray 29
				span.style_delimiter.style_gray /
				span.style_gray 29
			.tasks__cell.style_black 09 авг
			.tasks__cell.style_black 18 окт
