mixin project-tasks(tasks)
	.tasks
		each section in tasks
			each blocks, block in section
				if block === 'header'
					each el in blocks
						.tasks__cell.header__section
							span.style_gray= el.title
							if el.isAdd
								i.icon.icon__add.icon_padding_left.icon_hover_on
				if block === 'body'
					each row in blocks
						each item, rowType in row
							.style_hover.tasks__item
								each cell in item
									case cell.type
										when 'main'
											.tasks__cell.task__main
												span.task__title= cell.title
										when 'nums'
											.tasks__cell
												each link, i in cell.nums
													span(class="style_" + link.color)= link.num
													if i != cell.nums.length-1
														span.style_delimiter.style_gray /
										when 'text'
											.tasks__cell= cell.title
										when 'menu'
											.tasks__cell
												i.icon.icon__more.icon_size_s