include ../views/nav/navigation.jade
include ../views/project/project.jade
extends ../views/common/layout.jade
block content
	+navigation()
	.grid.wrap
		.project.grid__cell.grid_size_6
			section.project__section.project__title
				+project-title()
			.grid.project__section
				.header__section.style_gray Описание
				section.grid__cell.grid_size_3.project__description
					+project-description()
				section.grid__cell.grid_size_5.project__dashboard
					+project-dashboard()
			section.project__section.project__attach
				.header__section.style_gray Прикрепленные файлы
				+project-attach()
			section.project__section.project__tasks
				+project-tasks()
			section.project__section.project__comments
				.header__section.style_gray Комментарии
				+project-comments()
		.tracker.grid__cell.grid_size_2