include ../views/nav/navigation.jade
include ../views/project/project.jade
include ../views/tracker/tracker.jade
extends ../views/common/layout.jade
block content
	+navigation()
	.grid.wrap
		section.project.grid__cell.grid_size_6
			section.project__section
				.project__title
					+project-title(header)
				.project__set
					i.icon.icon__set.icon_hover_on
			.grid.project__section
				.header__section
					span.style_gray #{sections.description}
				section.grid__cell.grid_size_3.project__description
					| #{description}
				section.grid__cell.grid_size_5.project__dashboard
					+project-dashboard(dashboard)
			section.project__section.project__tasks
				+project-tasks(tasks)
		section.tracker.grid__cell.grid_size_2
			+tracker()