include ../ui/dropdown.jade
include ../ui/button.jade
include ../ui/label.jade
include ../ui/title.jade
include ../ui/input.jade
include ../ui/tabs.jade
include ../nav/navigation.jade
include ../project/project.jade
include ../tracker/tracker.jade
doctype html
html
    head
        title Проекты
        include header.jade
    body
        -var menu = [{ name: 'Задачи', url: 'index.html', selected: true }, { name: 'Доска', url: '#' }, { name: 'Финансы', url: '#' }, { name: 'Отчеты', url: '#' }, { name: 'Документации', url: '#' }]
        block content
        script(src='js/libs/underscore.min.js')
        script(src='js/libs/zepto.min.js')
        script(src='js/libs/backbone.min.js')
        script(src='js/libs/handlebars.min.js')
        script(src='js/app.js')
        script(src='js/main.js')