<section class="page__section project__menu">
    <div class="menu">
        <a href="#" class="menu__item link style_black">
            <i class="icon icon__burger icon_hover_on icon_size_l"></i>
            <a href="/#" class="menu__item menu__header link style_black">Проекты</a>
        </a>
        {{#each links}}
            <a href="/#" data-url="{{url}}" class="menu__item link">{{name}}</a>
        {{/each}}
        <a href="#" class="link menu__item style_float_right">Антон Ахатов</a>
    </div>
</section>