mixin tracker()
	section.tracker__timer
		span 8
		span.tracker_time-format ч
		span 24
		span.tracker_time-format мин
	section.tracker__tabs
	section.tracker__list
		.tracker__item
			.tracker__info
				.tracker__title
					span.style_bold GIS-452
					span.style_gray.tracker__time.tracker_time-format 1 д 9 ч 19 мин
				.tracker__description Решение проблем с MongoDB
			.tracker__menu
				i.icon.icon__more
		.tracker__item
			.tracker__info
				.tracker__title
					span.style_bold GIS-371
					span.style_gray.tracker__time.tracker_time-format
				.tracker__description
			.tracker__menu
				i.icon.icon__more
		.tracker__item
			.tracker__info
				.tracker__title
					span.style_bold
					span.style_gray.tracker__time.tracker_time-format
				.tracker__description
			.tracker__menu
				i.icon.icon__more
		.tracker__item
			.tracker__info
				.tracker__title
					span.style_bold
					span.style_gray.tracker__time.tracker_time-format
				.tracker__description
			.tracker__menu
				i.icon.icon__more
		.tracker__item
			.tracker__info
				.tracker__title
					span.style_bold
					span.style_gray.tracker__time.tracker_time-format
				.tracker__description
			.tracker__menu
				i.icon.icon__more
		.tracker__item
			.tracker__info
				.tracker__title
					span.style_bold
					span.style_gray.tracker__time.tracker_time-format
				.tracker__description
			.tracker__menu
				i.icon.icon__more