mixin tracker()
	section.tracker__timer
		span 8
		span.tracker_time-format ч
		span 24
		span.tracker_time-format мин
	section.tracker__tabs
	section.tracker__list
		.tracker__item
			.tracker__info
				.tracker__title
					a(href="#").link.style_black.style_bold GIS-452
					span.style_gray.tracker__time.tracker_time-format 1 д 9 ч 19 мин
				.tracker__description Решение проблем с MongoDB
			.tracker__menu
				i.icon.icon__more.icon_size_s
		.tracker__item
			.tracker__info
				.tracker__title
					a(href="#").link.style_black.style_bold GIS-371
					span.style_gray.tracker__time.tracker_time-format 3 ч 8 мин
				.tracker__description Новая конфигурация nginx
			.tracker__menu
				i.icon.icon__more.icon_size_s
		.tracker__item
			.tracker__info
				.tracker__title
					a(href="#").link.style_black.style_bold GIS-601
					span.style_gray.tracker__time.tracker_time-format 2 д 0 ч 56 мин
				.tracker__description Преобразование картинки в pdf
			.tracker__menu
				i.icon.icon__more.icon_size_s
		.tracker__item
			.tracker__info
				.tracker__title
					a(href="#").link.style_bold GIS-423
					a(href="#").link.tracker__time.tracker_time-format взять в работу
				.tracker__description Новая верстка каталога
			.tracker__menu
				i.icon.icon__more.icon_size_s
		.tracker__item
			.tracker__info
				.tracker__title
					i.icon.icon__problem.icon_size_xs.tracker__icon
					a(href="#").link.style_red.style_bold GIS-618
					span.style_gray.tracker__time.tracker_time-format 4 д 1 ч 1 мин
				.tracker__description Изменение цветов геомагнетики
			.tracker__menu
				i.icon.icon__more.icon_size_s
		.tracker__item
			.tracker__info
				.tracker__title
					i.icon.icon__done.icon_size_xs.tracker__icon
					a(href="#").link.style_black.style_gray.style_bold GIS-617
					span.style_gray.tracker__time.tracker_time-format 3 д 17 ч 2 мин
				.tracker__description.style_gray Вставить погодные фоны
			.tracker__menu
				i.icon.icon__more.icon_size_s