@import 'sections/dashboard.less';
@import 'sections/comments.less';
@import 'sections/attach.less';
@import 'sections/tasks.less';
@import 'sections/title.less';
.project {
    background-color: #fff;
    border-radius: @border-radius;
    padding: @padding-l 0;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, .1);
    margin: @block-padding-vertical*3 auto;
    border: 1px solid @lightgray;
    position: relative;
    box-sizing: border-box;
    &_level {
        &_1 {
            &:after {
                content: ''
            }
        }
        &_2 {
            &:after,
            &:before {
                content: ''
            }
        }
    }
    &:after,
    &:before {
        position: absolute;
        background-color: @white;
        border: 1px solid @lightgray;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: @border-radius;
    }
    &:after {
        top: -6px;
        left: 6px;
    }
    &:before {
        top: -11px;
        left: 11px;
    }
    &__section {
        margin: @padding-xs 0;
        padding: 0 @block-padding-horizontal;
        box-sizing: border-box;
        overflow: hidden;
        &:first-child,
        &:last-child {
            margin: 0;
        }
    }
    &__comments {
        .header__section {
            padding-left: @block-padding-horizontal;
        }
    }
    &__comments,
    &__tasks {
        padding: 0;
    }
    &__title {
        float: left;
        width: 75%;
    }
    &__set {
        float: right;
    }
    &__description {
        font-size: @font-xs;
        line-height: @font-xs * 1.5;
    }
}