mixin project-attach(attach)
	.attach
		.attach__list
			a(href="#").attach__item
					img(src='/img/attach.png', alt='', class="attach__preview attach_type_img")
			a(href="#").attach__item
					img(src='/img/attach.png', alt='', class="attach__preview attach_type_img")