mixin project-comments(comments)
    .list.list_type_todo
        .list__item
            .list__content_align_left
                .comment__photo 1
            .list__content_align_right
                .comment__header.style_gray Ахатов
                .comment__text Не могу связаться по телефону
        .form__add
            input(placeholder="Комментарий").input
            i.icon.i.icon.icon_size_s.icon__enter.icon_align_vertical