mixin project-dashboard(project)
	.grid
		section.grid__cell.grid_size_3
			.dashboard__description= project.description
		section.grid__cell.grid_size_5
			.dashboard
				.dashboard__item
					.dashboard__title.style_gray Руководитель
					.dashboard__content
						a(href='#').link.style_bold Антон Ахатов
				.dashboard__item
					.dashboard__title.style_gray Прогресс
					.dashboard__content
						span.style_black.style_bold 37
						span.style_delimiter.style_gray /
						span.style_black.style_bold 64
				.dashboard__item
					.dashboard__title.style_gray Префикс
					.dashboard__content 
						.style_bold GIS