mixin project-dashboard(project)
	.grid
		section.grid__cell.grid_size_3
			.dashboard__description= project.description
		section.grid__cell.grid_size_5
			.dashboard
				.dashboard__item
					.header_section.style_black Старт
					.dashboard__content 11 авг
				.dashboard__item
					.header_section.style_black Сегодня
					.dashboard__content 13 авг
				.dashboard__item
					.header_section.style_black Релиз
					.dashboard__content.style_red 15 авг
				.dashboard__item
					.header_section.style_black Прогресс
					.dashboard__content
						span.style_black 1
						span.style_delimiter.style_gray /
						span.style_black 7