mixin project-list(list)
	.list.list_type_horizontal
		.list__item
			a(href='/project/TEST').link
				span TEST
				span.style_gray.style_delimiter –
				span.style_black погодный сайт
		.list__item
			a(href='/project/TEST').link
				span TEST
				span.style_gray.style_delimiter –
				span.style_black погодный сайт
		.list__item
			a(href='/project/TEST').link
				span TEST
				span.style_gray.style_delimiter –
				span.style_black погодный сайт
		.list__item
			a(href='/project/TEST').link
				span TEST
				span.style_gray.style_delimiter –
				span.style_black погодный сайт