mixin project-tasks(tasks)
	.tasks
		.tasks__header.header__section
			.task__cell.task__cell_size_full 
				span.style_gray Номер релиза
					i.icon.icon__add.icon_padding_left.icon_hover_on
			.task__cell 
				span.style_gray В работе
			.task__cell 
				span.style_gray Ветка
			.task__cell 
				span.style_gray Назначено
		a(href="#").task.link.style_hover_light.style_black
			.task__cell.task__cell_size_full Верстка макета радара
			.task__cell.style_red 12дн
			.task__cell GIS-512
			.task__cell Ахатов Антон
		a(href="#").task.link.style_hover_light.style_black
			.task__cell.task__cell_size_full Карта сайта
			.task__cell 2дн
			.task__cell GIS-389
			.task__cell Соломкина Наталия
		a(href="#").task.link.style_hover_light.style_black
			.task__cell.task__cell_size_full Nginx решение
			.task__cell 2дн
			.task__cell GIS-481
			.task__cell Соломкина Наталия
		.tasks__group
			.task.task__groupheader.style_gray
				.task__cell.task__cell_size_full 
					i.icon.icon_size_xs.icon_padding_right.icon_rotate_180.icon__chevron
					| Групповой таск
					i.icon.icon__add.icon_padding_left.icon_hover_on
				.task__cell 2дн
				.task__cell GIS-10
				.task__cell сделана 1 из 4
			a(href="#").task.link.style_hover_light.style_black
				.task__cell.task__cell_size_full Карта сайта 1
				.task__cell 2дн
				.task__cell GIS-11
				.task__cell Соломкина Наталия
			a(href="#").task.link.style_hover_light.style_black
				.task__cell.task__cell_size_full Карта сайта
				.task__cell 2дн
				.task__cell GIS-12
				.task__cell Соломкина Наталия
		a(href="#").task.link.style_hover_light.style_black
			.task__cell.task__cell_size_full Шаринг в монге
			.task__cell 2дн
			.task__cell.style_red
				i.icon.icon_size_xs.icon__problem 
				| GIS-489
			.task__cell Не назначено
		a(href="#").task.link.style_hover_light.style_black
			.task__cell.task__cell_size_full Верстка макета радара
			.task__cell 2дн
			.task__cell GIS-512
			.task__cell Ахатов Антон
		a(href="#").task.link.style_hover_light.style_gray
			.task__cell.task__cell_size_full Карта сайта
			.task__cell 2дн
			.task__cell GIS-489
			.task__cell Соломкина Наталия