mixin project-tasks(tasks)
	//- .tasks
		.tasks__header.header__section
			.task__cell 
				span.style_gray Номер релиза
					i.icon.icon__add.icon_padding_left.icon_hover_on
			.task__cell 
				span.style_gray В работе
			.task__cell 
				span.style_gray Ветка
			.task__cell 
				span.style_gray Назначено
		.tasks__body.js_tasks
	table().tasks
		thead.tasks__header.header_section
			th.task__cell 
				span.style_lightblack Номер релиза
					i.icon.icon__add.icon_padding_left.icon_hover_on
			th.task__cell 
				span.style_lightblack В работе
			th.task__cell 
				span.style_lightblack Ветка
			th.task__cell 
				span.style_lightblack Назначено
		tbody.tasks__group
			tr.task.open
				td.task__cell
					.task__tags 
						a(href="#").link.header_tag.style_gray.task__tag Верстка
						a(href="#").link.header_tag.style_gray.task__tag GIS-43
					.task__text Карта сайта 1
				td.task__cell 2дн
				td.task__cell GIS-11
				td.task__cell Соломкина Наталия
			tr.opentask
				td(colspan=4).opentask__wrap
					.opentask__steps.tasksteps
						.tasksteps__list
							.tasksteps__item.header_ui.style_black В работе
								.tasksteps__action.button_group
									.button
										i.icon.icon__done.icon_color_green
									.button 
										i.icon.icon__cross.icon_color_red
							.tasksteps__item.header_ui.style_gray Код-ревью
							.tasksteps__item.header_ui.style_gray Дизайн-ревью
							.tasksteps__item.header_ui.style_gray Согласование
					.grid
						.grid__cell.grid_size_5
							.opentask__section.tasksection
								.opentask__title.header_section Задачи (0 / 4)
								.tasksection__list
									label.tasksection__item 
										.tasksection__checkbox
											input(type="checkbox")
										.tasksection__text Звезда – серая, когда нажата
									label.tasksection__item 
										.tasksection__checkbox
											input(type="checkbox")
										.tasksection__text Отступ между избранными и поиском
									label.tasksection__item 
										.tasksection__checkbox
											input(type="checkbox")
										.tasksection__text Обводка поиска и фокус
									label.tasksection__item 
										.tasksection__checkbox
											input(type="checkbox")
										.tasksection__text Кегль очистить историю
								.tasksection__add
									input(placeholder="Добавить новую задачу")
						.grid__cell.grid_size_3
							.opentask__section
								.opentask__title.header_section Описание
								.opentask__text Нужно сверстать под все браузере страницу геометрического виджета для сайта планетария
							.grid.grid_flex_3
								.grid__cell
									.opentask__section
										.opentask__title.header_section Старт
										.opentask__text 27 ноя
								.grid__cell
									.opentask__section
										.opentask__title.header_section Прошло
										.opentask__text 1 день 2 ч
								.grid__cell
									.opentask__section
										.opentask__title.header_section Дэдлайн
										.opentask__text 28 ноя
							.opentask__section
								.opentask__title.header_section Файлы
								+project-attach(attach)
		thead
			tr.task
				td.task__cell
					.task__tags 
						a(href="#").link.header_tag.style_gray.task__tag Программирование
						a(href="#").link.header_tag.style_gray.task__tag GIS-57
					.task__text Шаринг в монге
				td.task__cell 2дн
				td.task__cell.style_red
					i.icon.icon_size_xs.icon__problem.task__icon
					| GIS-489
				td.task__cell Не назначено
			tr.task
				td.task__cell
					.task__tags 
						a(href="#").link.header_tag.style_gray.task__tag Дизайн
						a(href="#").link.header_tag.style_gray.task__tag GIS-311
					.task__text Верстка макета радара
				td.task__cell 2дн
				td.task__cell GIS-512
				td.task__cell Ахатов Антон
			tr.task
				td.task__cell
					.task__tags 
						a(href="#").link.header_tag.style_gray.task__tag Верстка
						a(href="#").link.header_tag.style_gray.task__tag GIS-180
					.task__text Сделанная задача
				td.task__cell 2дн
				td.task__cell GIS-489
				td.task__cell Соломкина Наталия