mixin project-tasks(tasks)
    table.tasks
        //thead.tasks__header.header_section
            th.task__cell
                span.style_lightblack Номер релиза
                    i.icon.icon__add.icon_padding_left.icon_hover_on
            th.task__cell
                span.style_lightblack Состояние
            th.task__cell
                span.style_lightblack Прошло
        tbody
            tr.task
                td.task__cell
                    .task__tags
                        a(href="#").link.header_tag.style_gray.task__tag Программирование
                        a(href="#").link.header_tag.style_gray.task__tag GIS-57
                    .task__text Шаринг в монге
                td.task__cell
                    a(href="#").link.style_solid.task__label.label.label_type_open
                        .header_tag Взять
                td.task__cell.task__time 23 мин
            tr.task
                td.task__cell
                    .task__tags
                        a(href="#").link.header_tag.style_gray.task__tag Дизайн
                        a(href="#").link.header_tag.style_gray.task__tag GIS-311
                    .task__text Верстка макета радара
                td.task__cell
                    .task__label.label.label_type_progress
                        .header_tag 10 / 11
                td.task__cell.task__time 1 д 2 часа
        //tbody.tasks__group
            tr.task.open
                td.task__cell
                    .task__tags
                        a(href="#").link.header_tag.style_gray.task__tag Верстка
                        a(href="#").link.header_tag.style_red.task__tag
                            i.icon.icon_size_xs.icon__problem.task__icon
                            | GIS-489
                    .task__text Карта сайта 1
                td.task__cell
                    .task__label.label.label_type_progress
                        .header_tag 0 / 4
                td.task__cell.task__time 12 мин
            tr.opentask
                td(colspan=4).opentask__wrap
                    .opentask__steps.tasksteps
                        .tasksteps__list
                            .tasksteps__item.header_ui.style_black В работе
                                .tasksteps__actions
                                    .button
                                        i.icon.icon__done.icon_color_green
                                    .button
                                        i.icon.icon__cross.icon_color_red
                            .tasksteps__item.header_ui.style_gray Код-ревью
                            .tasksteps__item.header_ui.style_gray Дизайн-ревью
                            .tasksteps__item.header_ui.style_gray Согласование
                    .grid
                        .grid__cell.grid_size_5
                            .opentask__section.tasksection
                                .opentask__title.header_section Задачи (0 / 4)
                                .tasksection__list
                                    label.tasksection__item
                                        .tasksection__checkbox
                                            input(type="checkbox")
                                        .tasksection__text Звезда – серая, когда нажата
                                    label.tasksection__item
                                        .tasksection__checkbox
                                            input(type="checkbox")
                                        .tasksection__text Отступ между избранными и поиском
                                    label.tasksection__item
                                        .tasksection__checkbox
                                            input(type="checkbox")
                                        .tasksection__text Обводка поиска и фокус
                                    label.tasksection__item
                                        .tasksection__checkbox
                                            input(type="checkbox")
                                        .tasksection__text Кегль очистить историю
                                .tasksection__add
                                    input(placeholder="Добавить новую задачу").input.tasksection__input
                                    i.icon.icon__enter.icon_align_vertical.tasksection__enter
                        .grid__cell.grid_size_3
                            .opentask__section
                                .opentask__title.header_section Описание
                                .opentask__text Нужно сверстать под все браузере страницу геометрического виджета для сайта планетария
                            .grid.grid_flex_3
                                .grid__cell
                                    .opentask__section
                                        .opentask__title.header_section Старт
                                        .opentask__text 27 ноя
                                .grid__cell
                                    .opentask__section
                                        .opentask__title.header_section Прошло
                                        .opentask__text 1 день 2 ч
                                .grid__cell
                                    .opentask__section
                                        .opentask__title.header_section Дэдлайн
                                        .opentask__text 28 ноя
                            .opentask__section
                                .opentask__title.header_section Файлы
                                +project-attach(attach)
        tbody
            tr.task
                td.task__cell
                    .task__tags
                        a(href="#").link.header_tag.style_gray.task__tag Программирование
                        a(href="#").link.header_tag.style_gray.task__tag GIS-57
                    .task__text Шаринг в монге
                td.task__cell
                    a(href="#").link.style_solid.task__label.label.label_type_open
                        .header_tag Взять
                td.task__cell.task__time 23 мин
            tr.task
                td.task__cell
                    .task__tags
                        a(href="#").link.header_tag.style_gray.task__tag Дизайн
                        a(href="#").link.header_tag.style_gray.task__tag GIS-311
                    .task__text Верстка макета радара
                td.task__cell
                    .task__label.label.label_type_progress
                        .header_tag Ревью
                td.task__cell.task__time.style_red 2 д 4 часа
            tr.task
                td.task__cell
                    .task__tags
                        a(href="#").link.header_tag.style_gray.task__tag Верстка
                        a(href="#").link.header_tag.style_gray.task__tag GIS-180
                    .task__text Сделанная задача
                td.task__cell
                    .task__label.label.label_type_wait
                        .header_tag Ждет уточнения
                td.task__cell.task__time 9 часов