mixin ui-dropdown(class, hover)
	.dropdown.dropdown_on_hover.navigation__block
		.dropdown__button
			block dropdown-btn
				.navigation__create Создать
		.dropdown__context
			block dropdown-content
				.dropdown__list
					.dropdown__item 1
					.dropdown__item 2
					.dropdown__item 3