mixin ui-dropdown(text, items, isHover)
    .dropdown(class="dropdown_on_hover")
        .dropdown__trigger
            block dropdown-btn
                .dropdown__button #{text}
        .dropdown__context
            .dropdown__list
                block dropdown-content
                    each item in items
                        .dropdown__item= item