.dashboard {
	display: table;
	padding-left: @padding-s;
	box-sizing: border-box;
	width: 100%;
	&__description {
        font-size: @font-s;
        line-height: @font-s * 1.5;
        padding-right: @padding-l;
        box-sizing: border-box;
	}
	&__item {
		display: table-cell;
		min-width: 65px;
	}
	&__title {
        padding-bottom: @padding-m;
        .dropdown__trigger {
            padding-right: 20px;
        }
	}
	&__content {
		font-size: @font-xxl;
        font-family: @font-thin;
	}
}