.tasks {
    width: 100%;
    box-sizing: border-box;
    border-spacing: 0;
}

.task {
    &.open .task__cell{
        box-shadow: 0 -10px @opentask-shadow-type;
        border: none;
    }
    &:last-child .task__cell {
        border-bottom: none;
    }
    &__cell {
        &:first-child {
            width: 100%;
            padding-left: @block-padding-horizontal;
        }
        &:last-child {
            padding-right: @block-padding-horizontal;
        }
        white-space: nowrap;
        position: relative;
        padding: @padding-s @padding-s;
        box-sizing: border-box;
        min-width: 80px;
        border-top: 1px solid @darkwhite;
    }
    &__tag {
        margin: 0 @padding-s;
        &:first-child {
            margin-left: 0;
        }
    }
    &__description {
        font-size:@font-xs;
        padding-right: @padding-l;
    }
    &__time {
        font-size: @font-xs;
    }
}
.opentask {
    &__wrap {
        border-top: 1px solid @border-color;
        box-shadow: 0 10px @opentask-shadow-type;
        padding: @padding-m @block-padding-horizontal @padding-l;
    }
    &__title {
        padding-top: @padding-m;
    }
}

.tasksteps {
    padding-right: @padding-xl;
    &__list {
        padding: @padding-s 0;
    }
    &__item {
        display: inline-block;
        &:not(:last-child):after {
            content: '→';
            padding: 0 @padding-s;
        }
    }
    &__actions {
        display: inline-block;
        padding: 1px;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, @green 0%, @red 100%),linear-gradient(to right, @green 0%, @red 100%);
        border-radius: @border-radius+1;
        margin-left: @padding-m;
        position: relative;
        top: -2px;
        .button {
            border: none;
            width: 25px;
            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding-right: @padding-s + 1;
            }
            &:last-child {
                margin-left: -3px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-right-width: 1px;
            }
        }
    }
}
.tasksection {
    &__list {
        padding-top: @padding-xs;
        &:after{
            content: '';
            display: table;
            clear: both;
        }
    }
    &__item {
        display: block;
        line-height: 20px;
        padding: @padding-xs 0;
    }
    &__checkbox {
        float: left;
    }
    &__text {
        padding-left: @padding-xs;
        overflow: hidden;
    }
    &__add {
        position: relative;
        width: 250px;
        margin-left: @block-padding-horizontal;
    }
    &__input {
        padding-left: 3px;
        padding-right: @padding-xl;
    }
    &__enter {
        right: -@padding-xl;
    }
}