.tasks {
    width: 100%;
    box-sizing: border-box;
    border-spacing: 0;
    &__title {
        padding: @padding-s @block-padding-horizontal @padding-s;
    }
    &:last-child {
        padding-bottom: @padding-s;
    }
}

.grouptask {
    &.grouptask_no_padding .task:not(.grouptask__header) .task__cell:first-child {
        padding-left: @block-padding-horizontal;
    }
    &.grouptask_active_true .grouptask__header .task__cell {
        background-color: transparent;
    }
    &__header {
        .task__cell {
            background-color: @lightwhite;
            cursor: pointer;
            &:hover {
                background-color: darken(@lightwhite, 3%);
            }
        }
    }
    .task:not(.grouptask__header) .task__cell:first-child {
        padding-left: @block-padding-horizontal*2;
    }
}

.task {
    display: table-row;
    &.open {
        .task__cell {
            position: relative;
            z-index: 10;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #FFF;
                left: 0;
                top: 0;
                z-index: -1;
                padding-bottom: 10px;
            }
        }
        & + .opentask {
            display: table-row;
        }
    }
    &:last-child .task__cell {
        border-bottom: none;
    }
    &__cell {
        white-space: nowrap;
        position: relative;
        padding: @padding-xs @padding-s;
        box-sizing: border-box;
        min-width: 80px;
        border-top: 1px solid @darkwhite;
        transition: background .2s;
        &_type_main {
            width: 100%;
        }
        &:first-child {
            padding-left: @block-padding-horizontal;
        }
        &:last-child {
            padding-right: @block-padding-horizontal;
        }
    }
    &__tag {
        margin: 0 @padding-s;
        &:first-child {
            margin-left: 0;
        }
    }
    &__text {
        display: block;
    }
    &__description {
        font-size: @font-xs;
        padding-right: @padding-l;
    }
    &__time {
        font-size: @font-xs;
    }
}

.opentask {
    display: none;
    &__wrap {
        border-top: 1px solid @border-color;
        box-shadow: 0 10px @opentask-shadow-type;
        padding: 0 @padding-m @block-padding-horizontal @padding-l;
    }
    &__title {
        padding-top: @padding-s;
        padding-bottom: @padding-xs;
    }
}
.opendescription {
    border: none;
    border-spacing: 0;
    font-size: @font-s;
    line-height: 20px;
    &__cell {
        padding: @padding-xs 0;
    }
    &__header{
        width: 100px;
        font-size: 10px;
        vertical-align: top;
        color: @gray;
    }
}

.tasksteps {
    &__list {
        padding: @padding-s 0;
        display: inline-block;
    }
    &__item {
        display: inline-block;
        &:not(:last-child):after {
            content: '→';
            padding: 0 @padding-xs;
        }
    }
    &__actions {
        display: inline-block;
    }
}
.taskstep{
    &__description{
        display: inline-block;
        text-transform: none;
    }
}

.tasksection {
    &__list {
        padding-top: @padding-xs;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
    &__description {
        white-space: nowrap;
        font-size: @font-xs;
    }
}

.tasksearch {
    margin: 0 @block-padding-horizontal;
    max-width: 350px;
    &__input {
        margin-bottom: @padding-s;
    }
}