nav.navigation
	.navigation__block.navigation__logo Projector
	.navigation__block.navigation__menu
		a(href="#").link.navigate__item Проекты
		a(href="#").link.navigate__item Финансы
		a(href="#").link.navigate__item Календарь
		a(href="#").link.navigate__item Компания
		a(href="#").link.navigate__item Компания
	.navigation__block.dropdown.dropdown_on_hover 
		.dropdown__button
			.navigation__create Создать
		.dropdown__context
			.dropdown__list
				.dropdown__item 1
				.dropdown__item 2
				.dropdown__item 3
	.navigation__block.dropdown.dropdown_on_hover 
		.dropdown__button
			.navigation__user.userbar
				.userbar__pic
				.userbar__name Антон
		.dropdown__context
			.dropdown__list
				.dropdown__item 1
				.dropdown__item 2
				.dropdown__item 3