@bg: #FFFDEE;
@nav: #F3EFDB;
@nav-hover: #ECE8D2;

@block-shadow: 0 0 140px fade(darken(@bg, 80%), 20%);
@opentask-shadow-type: 40px 10px #F1F1F1;

@border-radius: 6px;
@border-radius-circle: 50%;

@border-color: @darkwhite;

@style-dark-hover: @blue;
@style-light-hover: @lightwhite;

@transition: 0.2s;